$black: black;
$white: white;
$red: red;
$blue: blue;
$grey: grey;
$color-type-1: #FDEFAA;
$color-type-2: #F7C331;

.bg-color-black {background-color: $black;}
.bg-color-red {background-color: $red;}
.bg-color-blue {background-color: $blue;}
.bg-color-grey {background-color: $grey;}

@font-face {
    font-family: 'Mont-Regular';
    src: url('../fonts/Montserrat-Regular.eot'), /* IE9 Compat Modes */
         url('../fonts/Montserrat-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'Mont-Medium';
    src: url('../fonts/Montserrat-Medium.eot'), /* IE9 Compat Modes */
         url('../fonts/Montserrat-Medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Montserrat-Medium.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Montserrat-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'Mont-Bold';
    src: url('../fonts/Montserrat-Bold.eot'), /* IE9 Compat Modes */
         url('../fonts/Montserrat-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Montserrat-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Montserrat-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'Mont-Black';
    src: url('../fonts/Montserrat-Black.eot'), /* IE9 Compat Modes */
         url('../fonts/Montserrat-Black.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Montserrat-Black.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Montserrat-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

h2 {
    font-size: 16px;
    font-family: 'Mont-Bold';
    padding: 0; margin: 0;
}

html, body, main {
    width: 100%; height: 100%;
    box-sizing: border-box;
    font-family:  "Mont-Regular", "Arial", "Helvetica", "sans-serif";
    font-size: 14px;
    color: $black;
}

.step {
    min-width: 374px; max-width: 374px; height: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
    display: none;
    position: relative;
    &.active {
        display: block;
    }
    &:last-child {
        box-shadow: none;
    }
    &.d-block {
        // box-shadow: 10px 0 11px -10px rgba($color: $black, $alpha: .2);
        border-right: 1px solid rgba($color: $black, $alpha: .2);
    }
    .atrium {
        position: absolute;
        width: 40px; height: 100%;
        top: 0;
        left: 0;
        padding: 6px 12px;
        color: white;
        background-color: red;
        transform-origin: center center;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            font-family: "Mont-Medium";
            font-size: 14px;
            color: $white;
            transform: rotate(-90deg);
            transform-origin: center center;
        }
    }
}

.step-content {
    width: 100%;
    margin-left: 20px;
    transition: all .3s ease-out;
}

.step-1 {
    min-width: 300px;
    i {
        width: 100%; max-width: 20px;
    }
}

.directionButtons {
    position: fixed;
    right: 20px; bottom: 20px;
}

.nextStep {
    background-color: $color-type-2;
    border-color: $color-type-2;
    box-shadow: none !important;
    outline: none !important;
    &:hover, &:active, &:focus {
        background-color: rgba($color: $color-type-2, $alpha: .8);
        border-color: rgba($color: $color-type-2, $alpha: .8);
    } 
}

.samplesFromTheStore, .orderAndPayment {
    transform: translateX(100%);
    opacity: 0;
    display: none;
}

.btn-success {
    font-family: "Mont-Medium";
    font-size: 12px;
    box-shadow: none !important;
    outline: none !important;
}

.category-image {
    width: 100%; max-width: 150px;
    display: inline-block;
    box-shadow: 0px 0px 10px rgba($color: $black, $alpha: .2);
    transition: all .3s ease-out;
    cursor: pointer;
    border-radius: 4px;
    &:hover, &.active {
        background-color: rgba($color: $color-type-2, $alpha: .3);
    }
    span {
        font-size: 12px;
        font-family: "Mont-Bold";
    }
}

.collection-title {
    cursor: pointer;
    transition: all .3s ease-out;
    padding: 10px;
    h2 {
        transition: all .3s ease-out;
    }
    &:hover, &.active {
        background-color: rgba($color: $color-type-2, $alpha: .7);
        h2 {
            color: $white;
            padding-left: 6px;
        }
    }
}

.slick-arrow {
    border: none;
    box-shadow: none;
    background-color: transparent;
    font-family: "Mont-Regular";
    font-size: 14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none !important;
    box-shadow: none !important;
    img {
        width: 100%; max-width: 12px;
    }
}

.slick-next, .slick-prev {
    position: absolute;
}

.slick-next {
    right: -24px;
}

.slick-prev {
    left: -24px;
}

.newCatetoryImages {
    width: 100%; max-width: 100px; min-height: 40px;
    font-family: "Mont-Medium";
    font-size: 12px;
    color: $black;
    border-radius: 6px;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    transition: all .3s ease-out;
    margin: 0 4px;
    margin-bottom: 12px;
    span {
        font-size: 10px;
        display: block;
    }
    &:hover, &.active {
        background-color: rgba($color: $color-type-2, $alpha: .8);
    }
}

.sliderSafe {
    width: 100%; max-width: 320px;
    margin: auto;
}

.bulb {
    width: 100%; max-width: 20px;
    display: block;
    position: fixed;
    left: 20px; bottom: 20px;
    cursor: pointer;
    &:hover {
        .bulb-message {
            visibility: visible;
            opacity: 1;
        }
    }
    i {
        width: 100%; max-width: 20px;
        display: block;
    }
    &-message {
        width: 200px;
        position: absolute;
        left: 30px; bottom: 0;
        background-color: $black;
        font-family: "Mont-Medium";
        font-size: 12px;
        color: $color-type-2;
        transition: all .3s ease-out;
        opacity: 0;
        visibility: hidden;
        padding: 12px;
        border-radius: 4px;
        font-style: normal;
        p {
            padding: 0; margin: 0;
        }
    }
}

label {
    span {
        font-family: "Mont-Bold";
        font-size: 12px;
        color: $black;
    }
}
select, input, textarea {
    &:focus, &:active {
        outline: none !important;
        box-shadow: none !important;
        border-color: #ced4da !important;
    }
}

.input-group {
    flex-wrap: nowrap !important;
    span {
        font-family: "Mont-Bold";
        font-size: 12px;
        color: $black;
    }
}

textarea.form-control {
    min-height: calc(1.5em + 6rem + 2px);
}

.package-box {
    width: 100%; max-width: 300px; height: 150px;
    overflow: hidden;
}